{% extends 'traffic/index.html'%}
{% block content %}
<div style="min-height:80vh; margin-top:10vh;">
<div class="card" style="margin-left:100px; min-height:550px;" >
                  <div class="card-body">
                    <center><br><br>

                    </center><br><br>
                      <div class="table-responsive">
                          <center> <h2 class="card-title">ALLOCATED STAFFS</h2></center><br>
                      <table class="table">

                        <thead>
                          <tr>
                              <th><h5>No.</h5></th>
                              <th><h5>STAFF NAME</h5></th>
                              <th><h5>ADDRESS</h5></th>
                              <th><h5>PHONE</h5></th>
                              <th><h5>EXPERIENCE</h5></th>
                              <th><h5>Allocated Date</h5></th>
                          </tr>
                        </thead>
                        {% for i in data %}
                        <tbody>
                          <tr>
                              <td><h5>{{ forloop.counter }}</h5></td>
                              <td><h5>{{i.1}}</h5></td>
                              <td><h5>{{i.2}}</h5></td>
                              <td><h5>{{i.3}}</h5></td>
                              <td><h5>{{i.4}}</h5></td>
                              <td><h5>{{i.6}}</h5></td>
                              <td><a href="../remove_staff/{{i.0}}"><div class="badge badge-outline-warning">Remove Staff</div></a></td>
<!--                              <td><a href="../delete_staff/{{i.0}}"><div class="badge badge-outline-warning">Delete Staff</div></a></td>-->

                          </tr>
                        </tbody>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
</div>
</div>
{% endblock %}